{% load staticfiles %}

<h3>Lara Modification</h3>

<hr/>
<div class="note-content" style="font-size:15px;">
    <p style="font-size:18px;padding-bottom:5px;">Lara Modification</p>
    <div class="small">
        MCN -> Lara Modification
    </div>
    <p>
        1. Lara - 维护所有Charge信息在进入Lara，Print Lara Invoice，在Lara Mdy打勾，Confirm保存。
    </p>
    <p>
        2. Lara - 点击Print Lara Invoice。，在Lara Mdy打勾，Confirm保存。
    </p>
    <p>
        3. Lara部分完成后，在Accounting中将Lara Mdy打勾，Confirm保存。
    </p>
    <p>
        4. 当Conform后，MCN将流向到财务审核部分。
    </p>
    <img class="img-screenshot" src="{% static 'Images/Helper/MCN-DocAssign-2.png' %}"/>

</div>