<div class="content animate-panel">

    <div class="hpanel">

        <div class="panel-body">

            {% if index == 1 %}
                {% include "FreightModuleManual.html" %}
            {% elif index == 2 %}
                {% include "DDModuleManual.html" %}
            {% elif index == 3 %}
                {% include "DeptGMApproveManual.html" %}
            {% elif index == 4 %}
                {% include "DocAssignManual.html" %}
            {% elif index == 5 %}
                {% include "LaraModificationManual.html" %}
            {% elif index == 6 %}
                {% include "AccountDeptManual.html" %}
            {% elif index == 7 %}
                {% include "MCNQuestions.html" %}
            {% endif %}

        </div>

        <a href="#top" id="back-to-top1">返回首页</a>
    </div>


</div>

<style type="text/css">
    #back-to-top1 {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 20px;
        display: none;
        border: 1px solid transparent;
        color: #ffffff;
        background-color: #34495e;
        border-color: #34495e;
        border-radius: 2px;
    }
</style>

<script type="text/javascript">
    $(document).bind('scroll', function () {
        var len = $(this).scrollTop();
        if (len >= 100) {
            $("#back-to-top1").show();
        } else {
            $("#back-to-top1").hide();
        }
    });


    $("#back-to-top1").on('click', function () {
        clearInterval(timer);
        var timer = setInterval(function () {
            target = document.body.scrollTop;
            target -= Math.ceil(target / 100);//做减速运动
            window.scrollTo(0, target);
            if (target == 0) {
                clearInterval(timer);
            }
        }, 10);
    });


</script>